.TaskList {
    padding: 1rem;
    border: 3px solid #eee;
    border-radius: 1rem;
    margin-bottom: 2rem;

    li {
        margin-bottom: 0.5rem;
        list-style: none;
        flex-direction: row;
        align-items: center;

        .content {
            display: inline-block;
            height: calc(2rem + 1vmin);
            cursor: pointer;

            .completed {
                text-decoration: line-through;
            }

            .status-completed, .status-waiting {
                margin-right: 1rem;
            }
    
            .status-completed {
                color: lightgreen;
            }

        }

        button {
            height: calc(2rem + 1vmin);
            font-size: calc(10px + 1vmin);
            margin: 0 1rem;
            vertical-align: middle;
        }
    }
}