.App {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  background-color: #333;
  border-right: 2px solid #aaa;
  border-left: 2px solid #aaa;
  color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
